{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block body_content %}
    <h1>Change Password</h1>
    <br>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Change Password</button>
        </form>
<br>
<ul>
    <li>Your password can't be to similar to your other personal information.
    <li>Your password must contain at least 8 characters.
    <li>Your password can't be a commonly used password.
    <li>Your password can't be entirely numeric.
</ul>
{% endblock %}