{% extends 'base.html' %}
{% block title %}Create a New Post!{% endblock %}
{% block body_content %}
    {% if user.is_authenticated %}
        <div class="col p-4 d-flex flex-column position-static bg-light rounded">
        <h1>Add Post</h1>
        <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Post</button>
        </form>
        <script>
            var name = {{ user.id }};
            document.getElementById("eliot").value = name;
        </script>
    {% else %}
         You have no right to be there!
    {% endif %}
</div>
{% endblock %}